.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 15px 0;
}
.idea-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.nav-bar > p {
  margin-bottom: 6px;
  font-size: 12px;
}
.nav-bar strong {
  font-size: 22px;
}
.idea-input {
  margin-top: 40px;
  font-size: 13px;
  font-weight: bold;
}
.input-box {
  margin: 13px 0;
}
.input-box > p {
  margin: 9px 0;
}
.submit-btn > input[type="submit"] {
  color: white;
  background: none;
  border: solid thin white;
  border-radius: 7px;
  padding: 3px 10px;
  margin: 0 auto;
}
