.idea-boxes {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  margin-top: 65px;
}

.idea-boxes > .box {
  background-color: skyblue;
  width: 18%;
  padding: 1rem 2rem;
  padding-bottom: 65px;
}
.idea-boxes > .box img {
  width: 12rem;
  height: 12rem;
  object-fit: fill;
}
.idea-boxes > .box > p a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.idea-boxes > .box > .line {
  height: 0px;
  border-top: solid 4px rgb(174, 148, 253);
  margin: 9px 0;
}
.idea-boxes > .box > p {
  color: black;
  font-weight: bold;
  margin: 7px 0;
}
