<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajax_Pirostagram</title>
    <script
      src="https://kit.fontawesome.com/f578b19b63.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <h1>Instagram</h1>
    </nav>
    <main>
      {% for post in posts %}
      <div class="post-part">
        <div class="pic">사진</div>
        <div class="heart-btn post_like" onclick="onClickLike({{post.id}})">
          {% if post.like == True %}
          <i class="fa-solid fa-heart" id="heart" style="color: red"></i>
          {% else %}
          <i class="fa-solid fa-heart" id="heart" style="color: gray"></i>
          {% endif %}
        </div>
        <div class="reply">
          {% for reply in replys %}
          <div class="rep rep-id-{{ reply.id }}">
            <div class="rep-second">{{reply.content}}</div>
            <div class="rep-del" onclick="onClickDelete({{reply.id}})">
              <a href="/delete">DEL</a>
            </div>
          </div>
          {% endfor %}
        </div>

        <div id="reply-form">
          <form action="/" method="POST">
            <textarea name="content" id="rep-wt" cols="30" rows="10"></textarea>
            <a onclick="onClickRep()">댓글</a>
          </form>
        </div>
      </div>
      {% endfor %}
    </main>
    <script>
      const requestLike = new XMLHttpRequest();

      const onClickLike = (id) => {
        const url = "/like_ajax/";
        requestLike.open("POST", url, true);
        requestLike.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        requestLike.send(JSON.stringify({ id: id }));
      };

      requestLike.onreadystatechange = () => {
        if (requestLike.readyState === XMLHttpRequest.DONE) {
          if (requestLike.status < 400) {
            const { id } = JSON.parse(requestLike.response);
            const element = document.querySelector("#heart");
            const ele = document.querySelector(".post_like");
            var color = element.style.color;
            console.log(color);
            if (color === "gray") {
              element.style.color = "red";
            } else {
              element.style.color = "gray";
            }
          }
        }
      };
      // 댓글 삭제
      const requestDel = new XMLHttpRequest();
      const onClickDelete = (id) => {
        const url = "/delete/";
        requestDel.open("POST", url, true);
        requestDel.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        requestDel.send(JSON.stringify({ id: id }));
      };

      requestDel.onreadystatechange = () => {
        if (requestDel.readyState === XMLHttpRequest.DONE) {
          if (requestDel.status < 400) {
            const { id } = JSON.parse(requestDel.response);
            const ele = document.querySelector(`.rep-id-${id}`);
            ele.remove();
          }
        }
      };
      // 댓글 추가
      const requestRep = new XMLHttpRequest();
      const onClickRep = () => {
        const url = "/write/";
        requestRep.open("POST", url, true);
        requestRep.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        const ele = document.getElementById("rep-wt").value;
        requestRep.send(JSON.stringify({ content: ele }));
      };

      requestRep.onreadystatechange = () => {
        if (requestRep.readyState === XMLHttpRequest.DONE) {
          if (requestRep.status < 400) {
            const { content } = JSON.parse(requestRep.response);
            const ele = document.querySelector(`.reply`);
            ele.innerHTML += `<div class="rep rep-id-{{ reply.id }}">
            <div class="rep-second">${content}</div>
            <div class="rep-del" onclick="onClickDelete({{reply.id}})">
              <a href="/delete">DEL</a>
            </div>
          </div>`;
            const elev = document.getElementById("rep-wt");
            elev.value = "";
          }
        }
      };
    </script>
  </body>
</html>
