* {
  box-sizing: border-box;
}

/* Cascading Style Sheet */
/* 선택자 (selector) */
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  /* 자식 태그*/
  width: 222px;
  height: 52px;
  display: inline-block;
  background: url(./sp_main.png) 1px -320px no-repeat;
  vertical-align: middle;
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0px 12px 10px;

  width: 520px;
  height: 50px;
  display: inline-block;
  border: 2px solid #03cf5d;
  box-sizing: border-box;
  vertical-align: middle;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
}

/* #header-center h1{
    자손 선택자
} */
