<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 화면</title>
  </head>
  <body>
    <h2>제목 : {{post.title}}</h2>
    <p>개봉 연도 : {{post.year}}년</p>
    <p>장르 : {{post.genre}}</p>
    <p>별점 : {{post.star}}점</p>
    <p>감독 : {{post.director}}</p>
    <p>주연 배우 : {{post.actor}}</p>
    <p>러닝 타임 : {{post.running}}분</p>
    <div>{{post.review}}</div>

    <div>수정하기 : <a href="/update/{{post.id}}">update</a></div>
    <div>삭제하기 : <a href="/delete/{{post.id}}">delete</a></div>
    <div>홈 화면 : <a href="/">Home</a></div>
  </body>
</html>
